body {
    background-color: #eee; /*#fafafa;*/
    font-family: Arial;
}

#mainContainer {
    margin: 10px;
}

table {
    width: 100%;
    background-color: white;
    border: 1px double #d8d4d4;
    border-collapse: collapse;
    margin: 15px 0px;
}

tr:hover {
    background-color: #eee;
}

td, th {
    border: 1px double #d8d4d4;
    padding: 10px;
}

th {
    color: #6a99ed;
    background-color: #eee;
}

.controls, #pagingBlock, #controlButtonsBlock, #phoneControlsButtonsBlock, #attachmentsButtonsBlock, #deleteBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

#phoneControlsButtonsBlock, #attachmentsButtonsBlock {
    justify-content: flex-end;
    flex-grow: 1;
}

#pageSizeSelectBlock {
    display: flex;
    align-items: baseline;
}

#pageSizeSelect {
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
    outline: none;
}

.button {
    border-radius: 5px;
    background-color: #d5d3d3; /*#e0e1e4*/
    padding: 10px;
    color: #565656;
    border-style: none;
    outline: none;
    cursor: pointer;
    font-family: Arial;
    font-size: 16px;
}

.button:not(.disabledPaging):hover {
    background-color: #aec6ef;
    cursor: pointer;
}

.disabledPaging {
    cursor: default;
    background-color: #aec6ef;
}

.width200 {
    width: 200px;
}

.margin5 {
    margin: 5px;
}

.marginLeft5 {
    margin-left: 5px;
}

.marginRight5 {
    margin-right: 5px;
}

.marginLeft25 {
    margin-left: 25px;
}

.marginBottom5 {
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

.editImage {
    width: 15px;
    height: 15px;
}

.link {
    cursor: pointer;
}

.error, .warning {
    padding: 5px;
    margin: 2px 0;
    color: #fff;
    border-radius: 5px;
}

.error {
    background-color: #DC143C;
}

.warning {
    background-color: #ffa500;
}

.profilePhoto {
    cursor: pointer;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* form */

fieldset {
    border-radius: 5px;
}

fieldset legend {
    font-weight: bold;
}

.form-group {
    display: flex;
    align-items: baseline;
    margin: 10px 0px;
}

.form-group label {
    flex-basis: 120px;
}

.form-group input, .form-group select, .form-group textarea {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-right: 3px solid #ccc;
    flex-basis: 200px;
}

.form-group textarea {
    resize: none;
}

.form-group input:required {
    border-right-color: #0ffb0e;
}

.form-group input:optional {
    border-right-color: #ccc;
}

.form-group input:invalid {
    border-right-color: #cc080f;
}


/* flex */

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-justify-center {
    justify-content: center;
}